Preparación de los dataframes para las querys

In [1]:
import pandas as pd
import gzip

In [9]:
with gzip.open('df_sub1.csv.gz', 'rb') as f:
        df_sub1 = pd.read_csv(f)
df_sub2 = pd.read_csv('df_sub2.csv')
df_steam = pd.read_csv('df_steam.csv')

In [5]:
df_steam

,Unnamed: 0,genres,item_name,release_date,price,item_id,developer
0,0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140,Kotoshiro
1,1,"['Indie', 'RPG', 'Strategy']",Ironbound,2018,0.00,643980,Secret Level SRL
2,2,"['Casual', 'Indie', 'Simulation', 'Sports']",Real Pool 3D - Poolians,2017,0.00,670290,Poolians.com
3,3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017,0.99,767400,彼岸领域
4,4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...
27536,27536,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab it Up!,2018,1.99,745400,Bidoniera Games
27537,27537,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018,1.99,773640,"Nikita ""Ghost_RUS"""
27538,27538,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,2018,4.99,733530,Sacada
27539,27539,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018,1.99,610660,Laush Dmitriy Sergeevich
27540,27540,"['Casual', 'Indie']",EXIT 2 - Directions,2017,4.99,658870,"xropi,stev3ns"

In [7]:
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27541 entries, 0 to 27540
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    27541 non-null  int64
 1   genres        27541 non-null  object
 2   item_name     27541 non-null  object
 3   release_date  27541 non-null  int64
 4   price         27541 non-null  float64
 5   item_id       27541 non-null  int64
 6   developer     27541 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 1.5+ MB

In [10]:
df_steam.drop("Unnamed: 0", axis=1, inplace=True)
df_steam['genres'] = df_steam['genres'].str.replace(r"['\[\]]", "", regex=True)
df_steam['genres'] = df_steam['genres'].apply(lambda x: x.split(','))
df_steam

,genres,item_name,release_date,price,item_id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018,4.99,761140,Kotoshiro
1,"[Indie, RPG, Strategy]",Ironbound,2018,0.00,643980,Secret Level SRL
2,"[Casual, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017,0.00,670290,Poolians.com
3,"[Action, Adventure, Casual]",弹炸人2222,2017,0.99,767400,彼岸领域
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018,3.99,772540,Trickjump Games Ltd
...,...,...,...,...,...,...
27536,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018,1.99,745400,Bidoniera Games
27537,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018,1.99,773640,"Nikita ""Ghost_RUS"""
27538,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018,4.99,733530,Sacada
27539,"[Indie, Racing, Simulation]",Russian Roads,2018,1.99,610660,Laush Dmitriy Sergeevich
27540,"[Casual, Indie]",EXIT 2 - Directions,2017,4.99,658870,"xropi,stev3ns"

In [4]:
df_sub1

,genres,release_date,user_id,playtime_forever
0,"['Action', 'Indie', 'Racing']",1997,UTNerd24,5
1,"['Action', 'Indie', 'Racing']",1997,saint556,13
2,"['Action', 'Indie', 'Racing']",1997,chidvd,110
3,"['Action', 'Indie', 'Racing']",1997,aerpub,13
4,"['Action', 'Indie', 'Racing']",1997,lucifer666678,8
...,...,...,...,...
2673897,['Action'],2004,76561198208507532,203
2673898,['Action'],2004,76561198221578852,244
2673899,['Action'],2004,EnVyIsSmexy,7
2673900,['Action'],2004,76561198283312749,9
2673901,['Action'],2004,76561198312638244,99

In [13]:
df_sub1['genres'] = df_sub1['genres'].str.replace(r"['\[\]]", "", regex=True)
df_sub1['genres'] = df_sub1['genres'].apply(lambda x: x.split(','))
df_sub1

,genres,release_date,user_id,playtime_forever
0,"[Action, Indie, Racing]",1997,UTNerd24,5
1,"[Action, Indie, Racing]",1997,saint556,13
2,"[Action, Indie, Racing]",1997,chidvd,110
3,"[Action, Indie, Racing]",1997,aerpub,13
4,"[Action, Indie, Racing]",1997,lucifer666678,8
...,...,...,...,...
2673897,[Action],2004,76561198208507532,203
2673898,[Action],2004,76561198221578852,244
2673899,[Action],2004,EnVyIsSmexy,7
2673900,[Action],2004,76561198283312749,9
2673901,[Action],2004,76561198312638244,99

In [6]:
df_sub2

,Unnamed: 0,genres,item_name,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis
0,0,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1
1,1,['Action'],Half-Life,1998,9.99,70,Valve,EizanAratoFujimaki,True,2
2,2,['Action'],Half-Life,1998,9.99,70,Valve,GamerFag,True,0
3,3,['Action'],Half-Life,1998,9.99,70,Valve,76561198020928326,True,2
4,4,['Action'],Half-Life,1998,9.99,70,Valve,Bluegills,True,2
...,...,...,...,...,...,...,...,...,...,...
49696,49696,['Action'],Counter-Strike: Condition Zero,2004,9.99,80,Valve,76561198023508728,False,1
49697,49697,['Action'],Counter-Strike: Condition Zero,2004,9.99,80,Valve,Lone_walker,True,2
49698,49698,['Action'],Counter-Strike: Condition Zero,2004,9.99,80,Valve,green290,True,1
49699,49699,['Action'],Counter-Strike: Condition Zero,2004,9.99,80,Valve,174gamecuman700kngkakak,True,1
49700,49700,['Action'],Counter-Strike: Condition Zero,2004,9.99,80,Valve,lachwe,True,0

In [14]:
df_sub2.drop("Unnamed: 0", axis=1, inplace=True)
df_sub2['genres'] = df_sub2['genres'].str.replace(r"['\[\]]", "", regex=True)
df_sub2['genres'] = df_sub2['genres'].apply(lambda x: x.split(','))
df_sub2

,genres,item_name,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis
0,"[Action, Indie, Racing]",Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,True,1
1,[Action],Half-Life,1998,9.99,70,Valve,EizanAratoFujimaki,True,2
2,[Action],Half-Life,1998,9.99,70,Valve,GamerFag,True,0
3,[Action],Half-Life,1998,9.99,70,Valve,76561198020928326,True,2
4,[Action],Half-Life,1998,9.99,70,Valve,Bluegills,True,2
...,...,...,...,...,...,...,...,...,...
49696,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,76561198023508728,False,1
49697,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,Lone_walker,True,2
49698,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,green290,True,1
49699,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,174gamecuman700kngkakak,True,1
49700,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,lachwe,True,0

-------------------

Query 1

In [17]:
# Uso df_steam
def juegos_lanzados_por_anio_y_porcentaje(developer):
    # Filtrar el dataframe por el developer especificado
    df_developer = df_steam[df_steam['developer'] == developer]
    
    # Agrupar por año y contar la cantidad de juegos lanzados
    juegos_por_anio = df_developer.groupby('release_date')['item_name'].count().reset_index()
    juegos_por_anio.columns = ['release_date', 'cantidad_juegos']
    
    # Calcular el porcentaje de juegos con precio 0.0 por año
    juegos_precio_cero_por_anio = df_developer[df_developer['price'] == 0.0].groupby('release_date')['item_name'].count().reset_index()
    juegos_precio_cero_por_anio.columns = ['release_date', 'cantidad_juegos_precio_cero']
    
    # Combinar los dos dataframes anteriores
    juegos_por_anio = juegos_por_anio.merge(juegos_precio_cero_por_anio, on='release_date', how='left')
    
    # Calcular el porcentaje de juegos con precio 0.0
    juegos_por_anio['porcentaje_juegos_precio_cero'] = (juegos_por_anio['cantidad_juegos_precio_cero'] / juegos_por_anio['cantidad_juegos']) * 100
    
    # Reemplazar los valores NaN por 0.0
    juegos_por_anio.fillna(0.0, inplace=True)
    
    # Crear un diccionario con la respuesta
    respuesta = {}
    for index, row in juegos_por_anio.iterrows():
        respuesta[int(row['release_date'])] = {
            'cantidad_juegos': row['cantidad_juegos'],
            'porcentaje_juegos_free': row['porcentaje_juegos_precio_cero']
        }
        
    # Devolver el diccionario de respuesta
    return respuesta

In [40]:
# Ejemplo de uso de la función
respuesta = juegos_lanzados_por_anio_y_porcentaje("Valve")
print(respuesta)

{1998: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 1999: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2000: {'cantidad_juegos': 2.0, 'porcentaje_juegos_free': 0.0}, 2001: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2003: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2004: {'cantidad_juegos': 5.0, 'porcentaje_juegos_free': 0.0}, 2006: {'cantidad_juegos': 2.0, 'porcentaje_juegos_free': 0.0}, 2007: {'cantidad_juegos': 3.0, 'porcentaje_juegos_free': 33.33333333333333}, 2008: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2009: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2010: {'cantidad_juegos': 2.0, 'porcentaje_juegos_free': 50.0}, 2011: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2012: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}, 2014: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 100.0}, 2016: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 100.0}, 2017: {'cantidad_juegos': 2.0, 'porcentaje_juegos_free': 50.0}}

In [41]:
respuesta = juegos_lanzados_por_anio_y_porcentaje("Electronic Arts")
print(respuesta)

{2010: {'cantidad_juegos': 1.0, 'porcentaje_juegos_free': 0.0}}

Query 2

In [20]:
# Uso df_sub2
def obtener_informacion_juegos(user_id):
    # Filtrar el dataframe por el user_id especificado
    df_usuario = df_sub2[df_sub2['user_id'] == user_id]
    
    # Calcular el precio total de los juegos que posee
    precio_total = df_usuario['price'].sum()
    
    # Calcular el porcentaje de juegos en los que la columna "recommend" es verdadera
    porcentaje_recomendados = (df_usuario['recommend'].sum() / len(df_usuario)) * 100
    
    # Obtener la cantidad total de juegos que posee
    cantidad_juegos = len(df_usuario)
    
    # Crear un diccionario con la información
    informacion = {
        'user_id': user_id,
        'precio_total': precio_total,
        'porcentaje_recomendados': porcentaje_recomendados,
        'cantidad_juegos': cantidad_juegos
    }
    
    # Devolver el diccionario de información
    return informacion

In [21]:
df_sub2[df_sub2['user_id']=='Lone_walker']

,genres,item_name,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis
2590,[Strategy],Fallout Tactics: Brotherhood of Steel,2001,9.99,38420,14° East,Lone_walker,True,0
23725,[RPG],Fallout: A Post Nuclear Role Playing Game,1997,9.99,38400,Interplay Inc.,Lone_walker,True,2
47726,[Action],Team Fortress 2,2007,0.00,440,Valve,Lone_walker,True,2
49320,[Action],Half-Life 2: Deathmatch,2004,4.99,320,Valve,Lone_walker,True,2
49490,[Action],Half-Life 2,2004,9.99,220,Valve,Lone_walker,True,2
49697,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,Lone_walker,True,2

In [22]:
# Ejemplo de uso de la función
user_id = 'Lone_walker'  # Cambiar esto al user_id deseado
informacion_usuario = obtener_informacion_juegos(user_id)
print(informacion_usuario)

{'user_id': 'Lone_walker', 'precio_total': 44.95, 'porcentaje_recomendados': 100.0, 'cantidad_juegos': 6}

In [23]:
df_sub2[df_sub2['user_id']=='76561198023508728']

,genres,item_name,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis
2182,[Action],Far Cry® 2: Fortune's Edition,2008,9.99,19900,Ubisoft Montreal,76561198023508728,False,0
3265,[Action],Mafia II,2011,29.99,50130,"2K Czech,Feral Interactive (Mac)",76561198023508728,False,0
12552,"[Action, Indie, Strategy]",Insurgency,2014,9.99,222880,New World Interactive,76561198023508728,False,1
21057,"[Action, Adventure, Casual, Indie]",Unturned,2017,0.00,304930,Smartly Dressed Games,76561198023508728,False,0
42168,"[Indie, Simulation]",SpaceChem,2011,9.99,92800,Zachtronics,76561198023508728,False,1
42936,"[Action, Adventure]",Just Cause 2,2010,14.99,8190,Avalanche Studios,76561198023508728,False,0
48945,[Action],Hitman: Codename 47,2000,6.99,6900,Io-Interactive A/S,76561198023508728,False,1
49696,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,76561198023508728,False,1

In [24]:
# Ejemplo de uso de la función
user_id = '76561198023508728'  # Cambiar esto al user_id deseado
informacion_usuario = obtener_informacion_juegos(user_id)
print(informacion_usuario)

{'user_id': '76561198023508728', 'precio_total': 91.93, 'porcentaje_recomendados': 0.0, 'cantidad_juegos': 8}

Query 3

In [25]:
# Uso df_sub1
def obtener_usuario_mas_horas_jugadas_por_genero(genero):
    # Filtrar el dataframe por el género especificado
    df_genero = df_sub1[df_sub1['genres'].apply(lambda x: genero in x)]
    
    # Obtener el usuario con más horas jugadas para el género dado
    usuario_mas_horas = df_genero.groupby('user_id')['playtime_forever'].sum().idxmax()
    
    # Filtrar nuevamente el dataframe por el usuario con más horas jugadas para el género dado
    df_usuario_mas_horas = df_genero[df_genero['user_id'] == usuario_mas_horas]
    
    # Obtener la acumulación de horas jugadas por año de lanzamiento
    acumulacion_horas_por_anio = df_usuario_mas_horas.groupby('release_date')['playtime_forever'].sum().reset_index()
    acumulacion_horas_por_anio.columns = ['Año', 'Horas']
    lista_acumulacion_horas = acumulacion_horas_por_anio.to_dict('records')
    
    # Crear el diccionario de respuesta
    respuesta = {
        "Usuario con más horas jugadas para " + genero: usuario_mas_horas,
        "Horas jugadas": lista_acumulacion_horas
    }
    
    # Devolver el diccionario de respuesta
    return respuesta

In [48]:
# Ejemplo de uso
genero = 'Action'
respuesta = obtener_usuario_mas_horas_jugadas_por_genero(genero)
print(respuesta)

{'Usuario con más horas jugadas para Action': 'REBAS_AS_F-T', 'Horas jugadas': [{'Año': 1998, 'Horas': 1}, {'Año': 1999, 'Horas': 224}, {'Año': 2001, 'Horas': 11}, {'Año': 2002, 'Horas': 1}, {'Año': 2003, 'Horas': 1863}, {'Año': 2004, 'Horas': 2115}, {'Año': 2005, 'Horas': 3293}, {'Año': 2006, 'Horas': 138}, {'Año': 2007, 'Horas': 684}, {'Año': 2008, 'Horas': 3791}, {'Año': 2009, 'Horas': 26635}, {'Año': 2010, 'Horas': 22390}, {'Año': 2011, 'Horas': 67425}, {'Año': 2012, 'Horas': 96936}, {'Año': 2013, 'Horas': 157706}, {'Año': 2014, 'Horas': 221837}, {'Año': 2015, 'Horas': 197948}, {'Año': 2016, 'Horas': 202402}, {'Año': 2017, 'Horas': 3716}]}

In [50]:
genero = 'Racing'
respuesta = obtener_usuario_mas_horas_jugadas_por_genero(genero)
print(respuesta)

{'Usuario con más horas jugadas para Racing': 'DownSyndromeKid', 'Horas jugadas': [{'Año': 2005, 'Horas': 91}, {'Año': 2006, 'Horas': 8410}, {'Año': 2007, 'Horas': 16742}, {'Año': 2008, 'Horas': 16635}, {'Año': 2011, 'Horas': 33217}]}

Query 4

In [32]:
# Uso df_sub2
def top_desarrolladores_recomendados_por_anio(anio):
    # Filtrar el dataframe por el año especificado y las condiciones de recomendación y análisis de sentimiento
    df_filtrado = df_sub2[(df_sub2['release_date'] == anio) & (df_sub2['recommend'] == True) & (df_sub2['sentiment_analysis'] == 2)]
    
    # Calcular el conteo de juegos recomendados por desarrollador
    conteo_juegos_por_desarrollador = df_filtrado['developer'].value_counts().reset_index()
    conteo_juegos_por_desarrollador.columns = ['Desarrollador', 'Cantidad']
    
    # Obtener el top 3 de desarrolladores con más juegos recomendados
    top_desarrolladores = conteo_juegos_por_desarrollador.head(3)
    
    # Crear una lista de diccionarios con el resultado
    resultado = []
    for index, row in top_desarrolladores.iterrows():
        puesto = "Puesto " + str(index + 1)
        desarrollador = row['Desarrollador']
        resultado.append({puesto: desarrollador})
    
    # Devolver el resultado
    return resultado

In [33]:
# Ejemplo
anio = 2000
resultado = top_desarrolladores_recomendados_por_anio(anio)
print(resultado)

[{'Puesto 1': 'Valve'}, {'Puesto 2': 'Ion Storm'}, {'Puesto 3': 'Rebellion'}]

In [34]:
anio = 2004
resultado = top_desarrolladores_recomendados_por_anio(anio)
print(resultado)

[{'Puesto 1': 'Valve'}, {'Puesto 2': 'The Creative Assembly'}, {'Puesto 3': 'Epic Games, Inc.'}]

Query 5

In [35]:
# Uso df_sub2
def sumar_sentimientos_por_desarrollador(developer):
    # Filtrar el dataframe por el desarrollador especificado
    df_filtrado = df_sub2[df_sub2['developer'] == developer]
    
    # Sumar la cantidad de registros de sentiment_analysis como "Positivo" si es 2 y "Negativo" si es 0
    positivo = df_filtrado[df_filtrado['sentiment_analysis'] == 2].shape[0]
    negativo = df_filtrado[df_filtrado['sentiment_analysis'] == 0].shape[0]
    
    # Crear un diccionario con los resultados
    resultado = {
        developer: {
            'Negativo': negativo,
            'Positivo': positivo
        }
    }
    
    # Devolver el diccionario de resultados
    return resultado

In [36]:
# Ejemplo de uso
developer = 'Valve'
resultado = sumar_sentimientos_por_desarrollador(developer)
print(resultado)

{'Valve': {'Negativo': 1100, 'Positivo': 6058}}

In [37]:
prueba=df_sub2[df_sub2['developer']=='Valve']
prueba

,genres,item_name,release_date,price,item_id,developer,user_id,recommend,sentiment_analysis
1,[Action],Half-Life,1998,9.99,70,Valve,EizanAratoFujimaki,True,2
2,[Action],Half-Life,1998,9.99,70,Valve,GamerFag,True,0
3,[Action],Half-Life,1998,9.99,70,Valve,76561198020928326,True,2
4,[Action],Half-Life,1998,9.99,70,Valve,Bluegills,True,2
5,[Action],Half-Life,1998,9.99,70,Valve,76561198071955492,True,2
...,...,...,...,...,...,...,...,...,...
49696,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,76561198023508728,False,1
49697,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,Lone_walker,True,2
49698,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,green290,True,1
49699,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,174gamecuman700kngkakak,True,1
49700,[Action],Counter-Strike: Condition Zero,2004,9.99,80,Valve,lachwe,True,0

In [38]:
len(prueba[prueba['sentiment_analysis']==2])

6058

In [39]:
len(prueba[prueba['sentiment_analysis']==0])

1100